// Define variables for your color scheme
$lost-dark: #081F25;
$lost-green: #67D6BA;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #081F25;
$medium-gray: rgba(0, 0, 0, 0.4);
$light-gray: rgba(0, 0, 0, 0.1);


.green {
  color: $lost-green;
}
