<div class="show-page-wrap">
  <div class="show-container-list">
    <h2><span class="green">Your messages</span></h2>
    <% if @conversations.any? %>
      <% @conversations.each do |conversation| %>
        <div class="messages-list-card">
          <h5><%= link_to (current_user == conversation.keeper ? conversation.seeker.first_name : conversation.keeper.first_name), conversation %></h5>

          <div class="messages-list-details">
            <div class="messages-list-messages">
              <%= link_to (current_user == conversation.keeper ? conversation.messages.last.content : conversation.messages.last.content), conversation %>
            </div>
            <div class="messages-list-time">
              <%= distance_of_time_in_words(conversation.messages.last.created_at, Time.now, options = {}) %> ago
            </div>
            <%= link_to conversation_path(conversation),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: 'conversation-delete' do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


