<div class="show-page-wrap">

  <div class="message-container">


    <div class="message-window">

    </div>

    <div class="message-form">
      <%= simple_form_for :message, url: item_conversations_path(@item) do |f| %>
        <%= f.input :content, :input_html => { placeholder: 'Write message ...' } %>
      <% end %>
    </div>

  </div>
</div>



