<div class="menu-wrap">

  <div class="menu-item item-left">
    <%= image_tag 'map_dark.svg', class: 'menu-map' %>
  </div>

  <div class="menu-item">
    LOST
  </div>

  <div class="menu-item">
    <div class="menu-button">
      <%= image_tag 'plus.svg', class: 'menu-plus' %>
    </div>
  </div>

  <div class="menu-item">
    FIND
  </div>

  <div class="menu-item item-right">
    <%= image_tag 'search_dark.svg', class: 'menu-search' %>
  </div>

</div>
