  <div class="container-slider">
  <div class="slider-container">
    <div class="track">
      <div class="progress"></div>
      </div>
     <div class="thumb">
       <div class="thumb-indicator"></div>
    </div>
  </div>
  </div>
