<div class="show-page-wrap">

  <div class="show-container-list">
    <h2><span class="green"><%= @items.count %></span> results</h2>

    <div class="show-card-wrap">

    <%= render 'shared/show_card', items: @items %>

    </div>
  </div>

</div>
