<div class="home-page-wrap">

  <div class="home-content-wrap">

    <div class="home-loaction-info">
      <%= image_tag 'map_green.svg', class: 'home-map-marker' %>
      <h3>Oslo</h3>
    </div>
    <h1><span class="counter green">3657</span> lost</h1>
    <h1><span class="counter green">2356</span> found</h1>

          <%#= form_tag items_path, method: :get, class: "home-form" do %>
            <%#= text_field_tag :title,
              params[:query['title']],
              id: "home-input",
              placeholder: "Search nearby ..."
            %>
            <%#= submit_tag ' ', id: "home-search-button" %>
          <%# end %>
    <div id="hompage-simple-fomr">
      <%= simple_form_for :query, :url => url_for(:action => 'index', :controller => 'items'), :method => 'get' do |f| %>
          <%= f.input :title, :input_html => { placeholder: 'Search nearby ...' }, label: false, id: "homepage-search" %>
          <%#= f.button :submit, "", id: "home-search-button"%>
      <% end %>
    </div>

  </div>


</div>
