<div class="sign-in-page-wrap">

  <div class="logo-wrap">
    <div class="logo-big">
      <div class="logo-small"></div>
    </div>
  </div>

  <div class="logo-title">
    <%= link_to 'lost & found', root_path %>
  </div>

  <div class="tag-line">Join our community and find your lost belongings!</div>


</div>



