.button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-space {
  width: 20px;
  height: 100%;
}

.button-dark {
  color: white;
  background-color: $lost-dark;
  padding: 15px 20px;
  flex-grow: 1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;

   &:hover {
    text-decoration: none;
    color: $lost-green;

  }
}

.button-green {
  color: white;
  background-color: $lost-green;
  padding: 15px 20px;
  flex-grow: 1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  &:hover {
    color: $lost-dark;
    text-decoration: none;
  }

  &:active {
    background-color: white;
    color: $lost-green;
  }
}

.button-white {
  color: $lost-green;
  background-color: white;
  padding: 15px 20px;
  flex-grow: 1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;

  &:hover {
    text-decoration: none;
    color: $lost-dark;
  }

  &:active {
    background-color: $lost-dark;
    color: $lost-green;
  }
}

.button-lost-menu {
  width: 150px;
  color: $lost-green;
  background-color: $lost-dark;
  padding: 15px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.button-found-menu {
  width: 150px;
  color: $lost-green;
  background-color: white;
  padding: 15px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

   &:hover {
    text-decoration: none;
    color: $lost-dark;
  }
}
