.logo-wrap {
  width: 250px;
  height: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo-big {
  width: 200px;
  height: 200px;
  background-color: $lost-green;
  border-radius: 50%;
  position: relative;
  animation:
    blink 18s ease infinite,
    rotate 18s ease infinite;
}

@keyframes rotate {
  28% {
    transform: rotate(0deg)
  }

  34% {
    transform: rotate(-360deg)
  }

  100% {
    transform: rotate(-360deg)
  }
}

@keyframes blink {
  0%, 100% {
    height: 200px;
  }

  10% {
    height: 200px;
  }

  10.3% {
    height: 0px;
  }

  10.6% {
    height: 200px;
  }


  15% {
    height: 200px;
  }

  15.3% {
    height: 0px;
  }

  15.6% {
    height: 200px;
  }

  16% {
    height: 200px;
  }

  16.3% {
    height: 0px;
  }

  16.6% {
    height: 200px;
  }

  20% {
    height: 200px;
  }

  20.3% {
    height: 0px;
  }

  20.6% {
    height: 200px;
  }

  25% {
    height: 200px;
  }

  25.3% {
    height: 0px;
  }

  25.6% {
    height: 200px;
  }

}

.logo-small {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: $lost-dark;
  position: absolute;
  top: 60px;
  right: 40px;
  animation:
    eyeball 18s ease infinite;
}

@keyframes eyeball {

  0, 100% {
    transform: translate(0, 0);
  }

  17% {
    transform: translate(0, 0);
  }

  17.3% {
    transform: translate(-80px, 0);
  }

  20% {
    transform: translate(-80px, 0);
  }

  20.3% {
    transform: translate(0px, 0);
  }

  20.6% {
    transform: translate(-80px, 0);
  }

  21% {
    transform: translate(-80px, 0);
  }

  21.3% {
    transform: translate(-35px, 60px);
  }

  26% {
    transform: translate(-35px, 60px);
  }

  26.3% {
    transform: translate(0, 0);
  }
}

.logo-title {
  font-size: 50px;
  color: white;
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }

}

.tag-line {
  color: white;
  margin-bottom: 50px;
  width: 80%;
  font-size: 18px;
  text-align: center;
}
