.user-new-review {

label {
    color: $lost-green;
    margin-bottom: 5px;
  }

  #review_content, #review_rating {
    border: none;
    border-bottom: 1px solid $lost-green;
    padding: 5px 0px;
    margin-bottom: 20px;
    text-decoration: none;

    &:focus {
      outline: none;
      box-shadow: none;
      border-bottom: 1px solid $lost-dark;
      color: $lost-dark;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 1);
    }
  }

  #review_rating {
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    -webkit-appearance: none;
  }
}

#review_form_input {
  text-decoration: none;
}

label.required {
  abbr {
    text-decoration: none;

  }
}
